#blog-page {
	min-height: 950px
}

.col-md-7 {
	text-align: center;
}

.col-md-7 h1 {
	font-size: 38px;
	font-weight: 700;
	text-transform: uppercase;
}

.col-md-7 p {
	font-size: 30px;
	font-weight: 500;
}