
@font-face {
	font-family: 'Boton';
	src: url('../fonts/Boton-Regular.tff') format('truetype')
}

@font-face {
	font-family: 'Boton-Bold';
	src: url('../fonts/Boton-Bold.tff') format('truetype')
}


body {
  padding-top: 300px; /* same as header height */
  font-family: 'Boton';
	font-size: 20px;
}

header {
	position: fixed;
	width: 100%;
	height: 250px;
	top: 0;
	transition: top 0.5s ease-in-out;
	z-index: 100
}

/* NAVBAR GRANDE */
.navbar-grande div.container {
	height: 250px
}

.navbar-grande .navbar {
	background-color: white;
	height: 250px;
	position: relative;
	margin-bottom: 0
}

.navbar-grande .navbar-inverse {
	border-bottom: solid 1px #D84272
}

.navbar-grande .navbar-brand {
	padding: 0
}

.navbar-grande .navbar-brand img {
	height: 250px;
	padding: 30px 20px 20px 20px;
}

div.contattaci {
	float: right;
	position: relative;
	margin-top: 165px
}

img.contattaci-bottone {
	height: 80px;
	float: right;
}

img.scrivici {
	height: 100px;
	float: left;
	margin-top: -60px;
	margin-right: -85px;
}


.nav-up { /* vedi js */
  top: -250px; /* same as header height. use variables in LESS/SASS */
}

/* NAVBAR PICCOLA */
.navbar-piccola .navbar-fixed-top {
	position: relative;
	background-color: white;
	border-bottom: none;
}

.navbar-piccola .navbar {
	margin-bottom: 0
}

.nav.navbar-nav {
	text-align: center;
	width: 100%;
	font-size: 22px
}

.nav.navbar-nav li {
	width: 20%;
}

.nav.navbar-nav>li>a {
	color: #9d9d9d;
}

.nav.navbar-nav>li>a:focus {
	color: #9d9d9d;
}


.nav.navbar-nav>li>a:hover {
	color: black;
	padding-bottom: 14px;
	border-bottom: solid 1px #D84272;
}

.navbar-nav>li>.dropdown-menu {
	width: 100%;
	font-size: 22px;
	padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-nav>li>.dropdown-menu hr {
	margin-top: 0px;
	margin-bottom: 0px;
}

.navbar-nav>li>.dropdown-menu li {
	text-align: center;
	width: 100%;
	padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav>li>.dropdown-menu li a {
	padding: 0;
	color: #9d9d9d
}

.navbar-nav>li>.dropdown-menu li a:hover {
	padding: 0;
	color: black;
	background-color: white;
}

.navbar-nav>li>.dropdown-menu li:hover {
	background-color: white;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #9d9d9d
}

.bordo-navbar {
	border-bottom: 1px solid #D84272
}

/* CAROUSEL */
.slide-uno, .slide-due, .slide-tre {
	height: 500px;
}

.slide-uno {
	background: url(../immagini/mappamondo.jpg) no-repeat center;
	background-size: cover;
}

.slide-due {
	background: url(../immagini/grafica.jpg) no-repeat center;
	background-size: cover;

}

.carousel h1 {
	font-size: 45px;
	letter-spacing: 4px;
	text-align: right;
	color: white;
	text-shadow: 0pt 0pt 5px black, 0pt 0pt 10px black, 0pt 0pt 15px black, 0pt 0pt 20px black, 0pt 0pt 35px black, 0pt 0pt 40px black, 0pt 0pt 50px black, 0pt 0pt 75px black;
}

.carousel p {
	text-align: right;
	text-shadow: 0pt 0pt 5px black, 0pt 0pt 10px black, 0pt 0pt 15px black, 0pt 0pt 20px black, 0pt 0pt 35px black, 0pt 0pt 40px black, 0pt 0pt 50px black, 0pt 0pt 75px black;
	margin-bottom: 0
}

.sinistra-destra {
	position: absolute;
	margin-left: -15px;
	top: 46%;
  z-index: 5;
  display: inline-block;
  color: white;
  text-shadow: 0pt 0pt 5px black, 0pt 0pt 10px black, 0pt 0pt 15px black, 0pt 0pt 20px black, 0pt 0pt 35px black, 0pt 0pt 40px black, 0pt 0pt 50px black, 0pt 0pt 75px black;
}

.cartografia-button img {
	height: 80px;
  margin-right: -15px;
}


