
/* barra di navigazione*/

.navbar {
	font-family: 'Lobster Two', cursive;
}

.navbar-brand {
	font-size: 80px;
	margin-top: 20px;
	font-weight: 500;
}

.navbar-fixed-top {
	background-color: #08457E;
	height: 150px;
	font-size: 20px;
	text-align: center;
	border-color: white;
	border-bottom-width: 5px
}

.nav li a {
	line-height: 29px;
	font-weight: 400;
	margin-right: 0px
}

.navbar li:hover {
	background-color: #052b4e;
}

/* Testo principale */

.jumbotron {
	font-family: 'Dancing Script', cursive;
	color: black;
	padding-top: 100px;
	text-align: center;
	background-color: white;
}

.jumbotron h1 {
	font-weight: 400;
	font-size: 35px;
	line-height: 1.5;
	margin-bottom: 255px;
}

.jumbotron p, .jumbotron p a {
	font-size: 20px;
	text-align: center;
}

.jumbotron h2 img {
	height: 100px
}

.btn {
	background-color: #08457E;
	font-family: 'Orbitron', sans-serif;
	color: white;
}

.btn:hover {
	background-color: #052b4e;
}

