.immagine-post img {
	max-height: 250px
}

p.italic {
	font-size: 14px;
	padding: 20px 15px 20px 15px;
	margin: 0px 10px 0px 10px;
	color: #1a1a1a
}

.clicca:hover {
	background-color: #eee
}

.expander {
    height: 1em;
    overflow: hidden;
    cursor: pointer;
    height: 145px;
}

.clicca	 {
	position: relative;
	border: solid #eee 5px;
	margin-bottom: 20px;
	margin-top: 20px
}

.clicca h5 {
	position: absolute;
	top: -5px;
	right: 25px;
	font-weight: 600;
	font-family: 'Orbitron';
	color: #ddd;
}

.clicca:hover h5 {
	color: white
}

p#bottom {
	text-align: center;
	font-size: 17px;
}



/* Small devices (tablets, 768px and down) */
@media (max-width: 767px) {

	.blog-post p {
		font-size: 15px
	}

	p#p3 {
		font-size: 15px
	}

	p.italic {
	font-size: 13px;
	}

	.expander {
    height: 117px;
	}

	.blog-post h3 {
		font-size: 17px;
		margin-bottom: 10px
	}

	.clicca {
		margin-top: 0
	}

	p#bottom {
		text-align: center;
		font-size: 15px;
	}

	.immagine-post img {
		max-height: 230px
	}




}